<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seabreeze.robot.third">

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application>
        <activity android:name=".ui.ShareActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.PayActivity" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101906416" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.thirtydays.kotlin.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.thirtydays.kotlin.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

    </application>

</manifest>